// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//maintitle's CSS

.maintitle{
    font-size: 100px;
    text-align: center;
}

.links{
    text-align: center;
    padding-top: 50px;
}

.mainblock{
    padding-top: 150px;
}

.titlebtn{
    padding: 0px 50px;
    font-size: 20px; 
    margin: 10px;
}