.maintitle {
  font-size: 80px;
  text-align: center;
}

.links {
  text-align: center;
  padding-top: 50px;
}

.mainblock {
  padding-top: 150px;
}

.titlebtn {
  padding: 0px 50px;
  font-size: 25px;
  margin: 10px;
}

.links_2 {
  text-align: center;
}

.linkbtn {
  padding: 5px 50px;
  margin: 20px;
  font-size: 20px;
}

